@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif !important;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

thead th {
    background-color: #006DCC;
    color: white;
    text-align: center;
}

tr td:first-child,
tr th:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* modal design */
.vertical-alignment-helper{
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-alignment-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}


/* chat box design */
 .portlet {
    margin-bottom: 15px;
}
.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}
.portlet {
    border: 1px solid;
}
.portlet .portlet-heading {
    padding: 0 15px;
}
.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}
.portlet .portlet-heading a {
    color: #fff;
}
.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
    outline: none;
}
.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}
.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}
.portlet .portlet-heading .portlet-title {
    float: left;
}
.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}
.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}
.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
    display: inline;
}
.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}
.portlet .portlet-body {
    padding: 15px;
    background: #fff;
}
.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}
.portlet .portlet-footer ul {
    margin: 0;
}
.portlet-green,
.portlet-green>.portlet-heading {
    border-color: #16a085;
}
.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}
.portlet-orange,
.portlet-orange>.portlet-heading {
    border-color: #f39c12;
}
.portlet-orange>.portlet-heading {
    color: #fff;
    background-color: #f39c12;
}
.portlet-blue,
.portlet-blue>.portlet-heading {
    border-color: #2980b9;
}
.portlet-blue>.portlet-heading {
    color: #fff;
    background-color: #2980b9;
}
.portlet-red,
.portlet-red>.portlet-heading {
    border-color: #e74c3c;
}
.portlet-red>.portlet-heading {
    color: #fff;
    background-color: #e74c3c;
}
.portlet-purple,
.portlet-purple>.portlet-heading {
    border-color: #8e44ad;
}
.portlet-purple>.portlet-heading {
    color: #fff;
    background-color: #8e44ad;
}
.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    border-color: #34495e;
}
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    color: #fff;
    background-color: #34495e;
}
.portlet-basic,
.portlet-basic>.portlet-heading {
    border-color: #333;
}
.portlet-basic>.portlet-heading {
    border-bottom: 1px solid #333;
    color: #333;
    background-color: #fff;
}
@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}
.img-chat{
width:40px;
height:40px;
}
.text-green {
    color: #16a085;
}
.text-orange {
    color: #f39c12;
}
.text-red {
    color: #e74c3c;
}                


/* link */
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

/* navigation */
/* navigation bar background color */
.navbar-default {
    background-color: #006DCC;
    border-color: #006DCC;
    border-bottom-color: #dddddd;
    border-bottom-width: 3px;
    border-radius: 0px;
}

/* navigation Title color */
.navbar-default .navbar-brand {
    color: rgb(64, 128, 128);
    padding-top: 25px;
    /*font-family: ;*/
}

/* navigation Title over mouse */
.navbar-default .navbar-hover,
.navbar-default .navbar-brand:focus {
    color: #dddddd;
    background-color: transparent;
}

/* selected nabigation mouse color */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1456b8;
}

/* navigation-default font */
.navbar-default .navbar-nav > li > a {
    color: #1a81ff;
    font-family: 'Noto Sans KR';
}

/* navigation - mouse over */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #006DCC;
}

/* dropdown mouse */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #006DCC;
    text-decoration: none;
    background-color: #ffffff;
}

/* toggle mouse */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #1456B8;
}

/* toggle iconbar */
.navbar-default .navbar-toggle .icon-bar{
    background-color: #dddddd;
}

/* small view dropdown mouse over */
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #eeeeee;
    }
}

/* navigationbar size fix */
.navbar-fixed-top {
    min-height: 70px;
}

/* navigationbar size fix */
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

@media (max-width: 767px){
    .navbar-default .navbar-brand{
        padding-top: 15px;
    }
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 40px;
    }
}

/* profile file upload */
.btn-file{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
