<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- Insert Member Information -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER_INFO_TABLE
		( USER_ID
		, USER_EMAIL
		, USER_NAME
		, USER_PASSWORD
		, USER_AGE
		, USER_INFOMATION 
		, USER_regdate
		, USER_lastLogin)
		VALUES( 
		  #{userId}
		, #{userEmail}
		, #{userName}
		, #{userPassword} 
		, #{userAge} 
		, #{userInfomation}
		, DEFAULT 
		, DEFAULT)
	</insert>
	<select id="memberLogIn" parameterType="member"  resultType="member">
		SELECT * 
		FROM MEMBER_INFO_TABLE
		where USER_ID = #{userId}
		and USER_PASSWORD = #{userPassword}
	</select>
	<select id="memberCheck" parameterType="String"  resultType="int">
		SELECT count(user_id)
		FROM MEMBER_INFO_TABLE
		where USER_ID = #{userId}
	</select>

</mapper>